* {
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

/*this is for header*/
header {
    z-index: 1;
    background-image: url(../pictures/header-logo.jpg);
    padding-left: 5%;
    padding-right: 5%;
    height: 75px;
    width: 90%;
    position: fixed;
    border-bottom: 1px solid darkslategray;
}

.logo {
    float: left;
    margin-top: 8px;
    padding: 8px;
    border-radius: 50px;
    background-color: black;
    color: gold;
    font-family: segoe UI;
}

.btncheck

/*responsive navigation bar*/
    {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 75px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
    float: right;
    margin-top: 30px;
}

/*Navigation bar*/
.nav-bar ul {
    float: right;
    padding-top: 25px;
}

.nav-bar ul li {
    display: inline;
    margin-left: 55px;
}

.nav-bar ul li a {
    color: gray;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

.nav-bar ul li a:hover {
    color: gold;
    transition: 0.5s;
}


/*this is home section*/
#home {
    height: 650px;
    background-color: #404040;
}

.mypc {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.mypc img {
    width: 400px;
}

.home-text {
    text-align: center;
    margin-top: 20px;
}

.home-text h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-family: serif;
    color: silver;
}

.home-text p {
    font-size: 17px;
    color: whitesmoke;
}

.home-text span {
    font-size: 20px;
    text-transform: uppercase;
    font-family: monospace;
    color: wheat;
}


/*this is about section*/
#about {
    height: 650px;
    background-color: darkgray;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 30px;
}

/*about logo*/
.about-logo {
    text-align: center;
}

.about-logo h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-family: serif;
    letter-spacing: 2px;
}

.about-text {
    margin-top: 20px;
    width: 400px;
    float: left;
}

.about-text #hi-there {
    font-size: 50px;
    font-family: bold;
    color: gold;
}

.about-text p {
    font-size: 20px;
    font-style: italic;
}

.about-text span {
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.about-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.about-gif img {
    height: 350px;
    margin-right: 25%;
}

.about-text ol {
    margin-left: 15px;
    list-style: none;
}

.about-text ol li {
    font-size: 18px;
    margin-top: 10px;
    font-style: italic;
}

/*picture graduate*/
.pictext-container
{
    float: right;
    text-align: center;
}

.pic-mike {
    margin-top: 20px;
}

.pic-mike img {
    width: 370px;
    height: 400px;
    clip-path: circle();
}

.about-text2 {
    width: 400px;
}

.about-text2 .creative {
    margin-top: 20px;
    color: black;
    font-size: 20px;
}

.about-text2 .creative a {
    color: blue;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: underline;
}


/*this is contact section*/
#contact {
    height: 650px;
    padding-left: 12%;
    padding-right: 12%;
    background-color: #404040;
    position: relative;

}

.contact-me {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-me h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: serif;
    letter-spacing: 2px;
}

.form-contact {
    padding-left: 25px;
    width: 97%;
}


#error_m {
    /*this is error message in form validation*/
    position: absolute;
    top: 5%;
    background-color: red;
    font-size: 15px;
    text-align: center;
    width: 20%;
    border-radius: 50px;
}

/*for contact input*/
.form-contact form input {
    font-size: 17px;
    padding: 10px;
    width: 43%;
    margin-right: 35px;
}

.form-contact form textarea {
    margin-top: 20px;
    width: 93.7%;
    height: 120px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
}

/*contact button*/
.btn {
    text-align: center;
    width: 95%;
}

.btn input[type="submit"] {
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    border-style: none;
    background-color: darkred;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    width: 200px;
}

.btn input:hover {
    transition: .5s;
    background-color: red;
    transform: scale(1.1);

}

/*contact information*/
.contact-info {

    margin-top: 30px;
    width: 100%;
}

.email {
    background-color: white;
    width: 43%;
    height: 70px;
    margin-left: 25px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

.email h1 {
    color: gray;
    font-size: 20px;
}

.email a {
    font-size: 18px;
    color: blue
}

.phone {
    background-color: white;
    width: 43%;
    height: 70px;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

.phone h1 {
    color: gray;
    font-size: 20px;
}

.phone p {
    font-size: 18px;
    color: black
}

.facebook {
    margin-top: 20px;
    background-color: white;
    width: 43%;
    height: 70px;
    margin-left: 25px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

.facebook h1 {
    color: gray;
    font-size: 20px;
}

.fb-logo {
    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-top: 3px;
}

.fb-logo:hover {
    background-color: blue;
    transition: 0.5s;
    transform: scale(1.1);
}

.fb-logo i {
    font-size: 22px;
    line-height: 40px;
    color: white;
}

.address {
    margin-top: 20px;
    background-color: white;
    width: 43%;
    height: 70px;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

.address h1 {
    color: gray;
    font-size: 20px;
}

.phone p {
    font-size: 18px;
    color: black
}

/*this is footer section*/
footer {
    height: 17vh;
    background-color: black;
    padding-left: 12%;
    padding-right: 12%;
}

.footer-holder {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-bottom: 1px solid gray;
}

#footer-add h1 {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

#footer-add p {
    color: white;
}

#footer-phone h1 {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

#footer-phone p {
    color: white;
    font-size: 15px;
}

#footer-email h1 {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

#footer-email p {
    color: white;
    font-size: 15px;
}

#footer-facebook h1 {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.fb-logo2 {
    height: 35px;
    width: 35px;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-top: 3px;
    cursor: pointer;
}

.fb-logo2 i {
    color: white;
    font-size: 20px;
    line-height: 35px;
}

#footer-text {
    text-align: center;
}

#footer-text p {
    color: white;
    padding-top: 10px;
}


/*media query for responsive website*/
@media (max-width: 1200px) {
    #about {
        height: 1000px;
        background-color: darkgray;
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 30px;
    }

    .about-text {
        margin-top: 10px;
        float: none;
        width: 100%;
        text-align: center;
    }

    .about-text p {
        font-size: 20px;
        font-style: italic;
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-gif {
        height: 220px;
    }

    .about-gif img {
        margin-right: 0%;
        margin-top: 20px;
    }
    .pictext-container
    {
        float: none;
    }
    .pic-mike {
        margin-top: 20px;
        float: none;
        text-align: center;
    }

    .about-text2 {
        float: none;
        width: 100%;
        text-align: center;
    }

    #contact {
        height: 750px;
        padding-left: 12%;
        padding-right: 12%;
        background-color: #404040;


    }

    .form-contact {
        position: relative;
        padding-left: 25px;
        width: 97%;
        text-align: center;

    }

    #error_m {
        position: absolute;
        background-color: red;
        font-size: 15px;
        text-align: center;
        width: 20%;
        border-radius: 50px;
        top: 1%;
    }

    .form-contact form textarea {
        margin-top: 20px;
        width: 97%;
        height: 120px;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 20px;
        display: block;
    }

}

/*resolution if below 1000px width*/
@media (max-width: 1000px) {
    #about {
        height: 1000px;
    }

}


/*resolution if below 850px width*/
@media (max-width: 850px) {
    .about-text2 .creative {
        padding-left: 10px;
        padding-right: 10px;
    }

    #contact {
        height: 950px;
    }

    .contact-info {
        padding-top: 10px;
        margin-top: 30px;
        width: 99.5%;
        height: 40%;
    }

    .form-contact {
        position: relative;
        padding-left: 25px;
        width: 97%;
        text-align: center;

    }

    #error_m {
        position: absolute;
        background-color: red;
        font-size: 10px;
        text-align: center;
        width: 18%;
        border-radius: 50px;
        top: 1%;
    }

    .email {
        background-color: white;
        width: 43%;
        height: 70px;
        margin-left: 26%;
        padding-left: 10px;
        padding-top: 10px;
        float: none;
        margin-bottom: 20px;
    }

    .email h1 {
        color: gray;
        font-size: 20px;
    }

    .email a {
        font-size: 11px;
        color: blue
    }

    .phone {
        background-color: white;
        width: 43%;
        height: 70px;
        margin-left: 26%;
        padding-left: 10px;
        padding-top: 10px;
        float: none;
    }

    .phone h1 {
        color: gray;
        font-size: 20px;
    }

    .phone p {
        font-size: 18px;
        color: black
    }

    .facebook {
        margin-top: 20px;
        background-color: white;
        width: 43%;
        height: 70px;
        margin-left: 26%;
        padding-left: 10px;
        padding-top: 10px;
        float: none;
    }

    .facebook h1 {
        color: gray;
        font-size: 20px;
    }

    .fb-logo {
        height: 40px;
        width: 40px;
        background-color: gray;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        margin-top: 3px;
    }

    .fb-logo:hover {
        background-color: blue;
        transition: 0.5s;
        transform: scale(1.1);
    }

    .fb-logo i {
        font-size: 22px;
        line-height: 40px;
        color: white;
    }

    .address {
        margin-top: 20px;
        background-color: white;
        width: 43%;
        height: 70px;
        margin-left: 26%;
        padding-left: 10px;
        padding-top: 10px;
        float: none;
    }

    .address h1 {
        color: gray;
        font-size: 20px;
    }

    .address p {
        font-size: 11px;
        color: black
    }



    footer {
        height: 250px;
    }

    .footer-holder {
        height: 150px;
        border-bottom: 1px solid gray;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #footer-phone {
        margin-left: 50%;
    }

    #footer-facebook {
        margin-left: 50%;
    }
}

/*resolution if below 600px width*/
@media (max-width: 600px) {
    #about {
        height: 1080px;
    }

    .btncheck {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 25%;
        top: 75px;
        right: -100%;
        text-align: center;
        background-color: #2c3e50;
        transition: all .5s;
    }

    nav ul li a {
        display: block;
        margin-top: 10px;
    }

    #check:checked~ul {
        right: 0;
    }

    .form-contact form input {
        font-size: 12px;
    }

    .form-contact form textarea {
        font-size: 12px;
    }

    .btn input[type="submit"] {
        font-size: 15px;
        padding: 10px 25px;
        width: 120px;
    }

    footer {
        height: 310px;
    }

    .form-contact {
        position: relative;
    }

    #error_m {
        position: absolute;
        font-size: 9px;
        width: 13%;
    }

    .footer-holder {
        display: inline;
        height: 200px;
        text-align: center;
    }

    #footer-phone {
        margin-left: 0;
        margin-top: 20px;
    }

    #footer-facebook {
        margin-left: 0;
        margin-top: 20px;
    }

    .fb-logo2 {
        margin-left: 45%;
    }

    #footer-email {

        margin-top: 20px;
    }

    #footer-add {
        margin: 0%;
    }

    #footer-text {
        margin-top: 20px;
        border-top: 1px solid gray;
    }

}

/*resolution if below 450px width*/
@media (max-width: 450px) {
    #home {
        width: 109%;
        height: 500px;
    }

    #about {
        width: 85%;
        height: 840px;
    }

    #contact {
        width: 85%;
        height: 850px;
    }

    footer {
        width: 85%;
    }

    .form-contact form input {
        font-size: 9px;
    }

    .form-contact form textarea {
        margin-left: 20%;
        width: 70%;
        height: 100px;
    }

    .mypc img {
        width: 250px;
    }

    .about-text {
        margin-top: 20px;
        width: 100%;
    }

    .about-text #hi-there {
        font-size: 40px;
    }

    .about-gif img {
        height: 330px;
    }

    .about-text p {
        font-size: 13px;
    }

    .about-text span {
        font-size: 17px;
    }

    .about-text ol li {
        font-size: 13px;
    }
    .pic-mike img {
        width: 260px;
        height: 290px;
    }

    .about-text2 {
        width: 400px;
    }
    .about-text2 p
    {
        margin-right: 12%;
    }

    .about-text2 .creative {
        font-size: 13px;
    }

    .about-text2 .creative a {
        font-size: 13px;
    }

    .email a {
        font-size: 8px;
    }

    .form-contact {
        position: relative;
    }

    #error_m {
        position: absolute;
        background-color: red;
        font-size: 8px;
        text-align: center;
        width: 15%;
        border-radius: 50px;
        left: 1%;
        top: 1%;
    }

}

@media (max-width: 395px) {
    #home {
        width: 114%;
    }

    #about {
        width: 90%;
    }

    #contact {
        width: 90%;
    }

    footer {
        width: 90%;
    }
}

@media (max-width: 390px) {
    #home {
        width: 114.5%;
    }

    #about {
        width: 90.5%;
    }

    #contact {
        width: 90.5%;
    }

    footer {
        width: 90.5%;
    }
}

@media (max-width: 375px) {
    #home {
        width: 119%;
    }

    #about {
        width: 95%;
    }

    #contact {
        width: 95%;
    }

    footer {
        width: 95%;
    }
}

@media (max-width: 360px) {
    #home {
        width: 123%;
    }

    #about {
        width: 99%;
    }

    #contact {
        width: 99%;
    }

    footer {
        width: 99%;
    }
}

@media (max-width: 320px) {
    #home {
        width: 136.7%;
    }

    #about {
        width: 113%;
    }

    #contact {
        width: 113%;
    }

    footer {
        width: 113%;
    }
}

@media (max-width: 280px) {
    #home {
        width: 157%;
    }

    #about {
        width: 133%;
    }

    .about-text2 p
    {
        margin-right: 8%;
    }

    #contact {
        width: 133%;
    }

    footer {
        width: 133%;
    }
}

/*end of styling code*/